:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  margin-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/* Style the product grid */
.product-grid {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the list items */
.product-grid li {
  width: calc(25% - 10px);
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

/* Add hover effect to list items */
.product-grid li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Style the links */
.product-grid li a {
  color: #333;
  text-decoration: none;
}

/* Style the images */
.product-grid li img {
  display: block;
  margin: 0 auto 10px;
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease-out;
}

/* Add hover effect to images */
.product-grid li:hover img {
  transform: rotate(20deg);
}

/* Style the headings */
.product-grid li h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff6b6b;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.2s ease-out;
}

/* Add hover effect to headings */
.product-grid li:hover h2 {
  color: #f9c74f;
}


/* Start Newsletter styles */
#news-signup {
  width: 80%;
  max-width: 500px;
  margin: 2em auto;
  border: 1px solid #303030;
  border-radius: 6px;
}
#submit {
  background-color: #f0a868;
  border-radius: 6px;
  color: #303030;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-top: 1em;
}
#submit:hover {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px #777;
}

.newsletter-container {
  text-align: center;
  padding: 1em;
  max-width: 100%;
  margin: auto;
}
.newsletter-fields input {
  padding: 1em;
  margin: 0.5em;
  max-width: 100%;
  padding: 1em;
}
.newsletter-fields {
  display: grid;
}

/* CSS for product details page breadcrumbs */
.breadcrumbs {
  padding: 10px 18px;
  background-color: rgb(238, 238, 238);
  justify-content: center;
  text-align: center;
}

.breadcrumbs > li {
  display: inline-block;
}
.breadcrumbs > li > a {
  color: var(--dark-grey);
  text-decoration: none;
}

.breadcrumbs > li > a:hover {
  text-decoration: underline;
  background-color: var(--primary-color);
  padding: 0.3em;
}

.breadcrumbs li + li:before {
  padding: 4px;
  content: "/";
}

/* CSS for switch on product listing page */
#searchBar {
  margin: auto 10px;
  height: 30px;
  width: 190px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Product listing pages search css */
.product-listing-controls {
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* grid-template-columns: 20% auto 20%; */
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.product__color {
  display: flex;
  align-items: center;
  padding: 2px;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

ul.color__pick {
  display: flex;
  list-style: none;
}

ul.color__pick > li {
  padding: 2px;
}
/* End product list card */

.product-card__discount,
.base__discount {
/*PRODUCT-LISTING PAGE*/
color: red;
text-decoration: solid 3px underline;
text-shadow: 1px 1px 10px white, 1px 1px 10px white;
}

.product-card__price {
color: green;
text-decoration: solid 3px underline;
text-shadow: 1px 1px 10px var(--primary-color), 1px 1px 10px #ffff00;
margin-left: 6px;
}

.container__origin-price {
text-shadow: 1px 1px 10px white, -1px -1px 10px white;
margin-left: 15px;
}

.product-card__orginal-price,
.base__orginal-price {
/*PRODUCT-LISTING PAGE*/
/*PRODUCT-LISTING PAGE*/
text-decoration: line-through;
}

div.pricing-container {
  border: 5px solid rgb(255, 102, 0);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 0, 0.2);
  width: fit-content;
  padding: 0 1rem;
  margin-top: 20px;
}

.descriptor-label {
  font-weight: 600;
}

/******************* START ADDED CSS FOR THE HOME PAGE 4 PRODUCT ICONS ********************************/
.product-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  max-width: 80%;
  margin: auto;
}

.product-categories li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-categories li a {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
}
/******************* END ADDED CSS FOR THE HOME PAGE 4 PRODUCT ICONS ********************************/

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(45, 194, 48);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

.cart-footer {
  display: none;
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/*Checkout Button (Cart Page)*/
#checkout-button {
display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#checkout-button:hover {
  background-color: #0062cc;
}
/*End Checkout Button*/

/*Checkout Page*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.form-container {
  width: 50%;
}

#checkout-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #ccc;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:disabled {
  background-color: gray;
  cursor: default;
}

.order-summary {
  width: 40%;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.order-summary h2 {
  margin-top: 0;
}

.order-summary p, .order-summary h3 {
  margin-bottom: 10px;
}